body {
    font-family: 'Open Sans', 'Times New Roman';
}
.container {
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0px auto;
}
@media (max-width: 1200px){
    .container{
        max-width: 970px;
    }
}
@media (max-width: 992px){
    .container{
        max-width: 750px;
    }
}
@media (max-width: 767px){
    .container{
        max-width: none;
    }
}
.menu{
    margin: 0;
    padding: 10px;
    list-style-type: none;
    text-align: center;
    background-color: #E3BC62;
    
}
.menu a{ 
    transition: border-radius 1s, background-color 1s;
    color: white;
    padding: 5px 10px;
    margin: 1px;
    text-decoration: none;
    font-weight: 800;
    display: inline-block;
    width: 170px;
}
.menu a:hover{
    border-radius: 20px 5px;
    background-color: peru;
}
.menu li{
    display: inline;
}
.name{
    text-align: center;
    padding-top: 60px;
    height: 250px;
    background: linear-gradient(orange, green);
    color: white;
    width: 100%;
}
.big_block {
    display: flex;
}
.left_block{
    background-color: brown;
    color: white;
    height: 100px;
    width: 300px;
}
.menuu{
    height: 50px;
}
.t{
    background-color: white;
    width: 900px;
    text-align: left;
}
.t a{
    background-color: green;
    color: white;
    padding: 5px 10px;
    margin: 1px;
    text-decoration: none;
    font-weight: 800;
    display: inline-block;
    width: 100px; 
}
.t li{
    display: block;
}
.t a:hover{
    border-radius: 20px 5px;
    background-color: greenyellow
}
.right_block {
    display: flex;
}
.right_block img {
    margin: 5px;
    float: right;
    width: 300px;
    height: 300px;
}